@import "../../Constant/scss/function.scss";
.delete-popup {
  width: 100%;

  h2 {
    color: #fff;
  }

  &__container {
    @include flex($justify-content: center, $flex-direction: column);
    position: absolute;
    background-color: #f67878;
    width: 40%;
    height: 300px;
    margin: auto;
    border-radius: 6px;

    &__cls-btn-wrapper {
      position: absolute;
      top: 30px;
      right: 50px;
      cursor: pointer;
      .close-btn {
        font-size: 24px;

        &:hover {
          color: white;
        }
      }
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 20px;
  }
}

.none {
  display: none;
}
