.header-layout {
  grid-area: header;
  height: 74px;
}
.sidebar-layout {
  grid-area: sidebar;
}
.main-layout {
  grid-area: main;
  height: calc(100vh - 74px);
  overflow: scroll;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main"

}
