@import "../../Constant/scss/function.scss";

.search-bar {
    @include flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;

    Input {
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 18px;
    }
}