@import '../../Constant/scss/colors.scss';
@import '../../Constant/scss/function.scss';

header {
  .header {
    background-color: $btn-primary;
    color: $btn-primary-text;
    height: 50px;
    padding: 12px 8px;

    @include flex;
    justify-content: space-between;

    h1, button {
      cursor: pointer;
    }

    &__container {
      @include flex;
      justify-content: flex-end;
      gap: 20px;

      button {
        height: fit-content;
      }
    }
  }
}
