header {
    
    .header {
        background-color: #30475e;
        color: white;
        height: 50px;
        padding: 12px 8px;
        
        display: flex;
        align-items: center;
    }
}