@import '../../Constant/colors.scss';

header {
  .header {
    background-color: $btn-primary;
    color: $btn-primary-text;
    height: 50px;
    padding: 12px 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1, button {
      cursor: pointer;
    }

    &__container {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
  }
}
