@import '../../Constant/colors.scss';

.post {
  width: 900px;
  background-color: $post-background;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px 0px;
  &__container {
    padding: 5px 20px;
    &__header {
      display: flex;
      gap: 10px;
    }
  }
}
