@import "../../Constant/scss/colors.scss";
@import "../../Constant/scss/function.scss";

.post {
  width: 900px;
  background-color: $post-background;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px 0px;
  &__container {
    padding: 5px 20px;
    &__header {
      @include flex($gap: 10px);
    }
    &__footer {
      @include flex($gap: 20px);
      &__likes,
      &__dislikes {
        @include flex($flex-direction: column, $gap: 10px);
      }
    }
  }
}

.like-icon,
.dislike-icon {
  font-size: 28px;
}
